# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
basecode/Analisis empresarial - ELMEC.pdf
basecode/App elmec.pdf
basecode/calculadora_react-develop.zip
basecode/cotizacion_elmec_app_directorio.pdf
basecode/MEJORAS APP MFR Noviembre 2024.docx
basecode/Propuesta ELMEC MXN.md
basecode/Propuesta Técnica y Económica ELMEC.md
basecode/PROPUESTA-TECNICA-Y-ECONOMICA-ELMEC.pdf
basecode/screencapture-softvibes-mx-elmec-informepush-html-2025-05-29-12_47_03 (1).pdf
basecode/Solicitud-de-Informacion-al-Proveedor-Anterior-de-ELMEC (1).pdf
basecode/APP ELMEC MFR/ANIMACIÓN APP MFR.mp4
basecode/APP ELMEC MFR/CAMIÓN2_MFR.png
basecode/APP ELMEC MFR/CAMIONencorte_MFR_.png
basecode/APP ELMEC MFR/CAMPAÑA MFR.ai
basecode/APP ELMEC MFR/COMPLEMENTARIOS APP.JPG
basecode/APP ELMEC MFR/ELMEC MFR.pdf
basecode/APP ELMEC MFR/LOGO MFR.png
basecode/APP ELMEC MFR/LOGO_MFR.jpg
basecode/APP ELMEC MFR/pantone app.JPG
basecode/calculadora_react-develop/.eslintrc.js
basecode/calculadora_react-develop/.gitignore
basecode/calculadora_react-develop/.prettierrc.js
basecode/calculadora_react-develop/.ruby-version
basecode/calculadora_react-develop/.watchmanconfig
basecode/calculadora_react-develop/app.json
basecode/calculadora_react-develop/App.tsx
basecode/calculadora_react-develop/babel.config.js
basecode/calculadora_react-develop/firma_google.zip
basecode/calculadora_react-develop/flatlist.txt
basecode/calculadora_react-develop/Gemfile
basecode/calculadora_react-develop/Gemfile.lock
basecode/calculadora_react-develop/index.js
basecode/calculadora_react-develop/jest.config.js
basecode/calculadora_react-develop/metro.config.js
basecode/calculadora_react-develop/notas.txt
basecode/calculadora_react-develop/package-lock.json
basecode/calculadora_react-develop/package.json
basecode/calculadora_react-develop/react-native.config.js
basecode/calculadora_react-develop/README.md
basecode/calculadora_react-develop/tsconfig.json
basecode/calculadora_react-develop/.bundle/config
basecode/calculadora_react-develop/.vs/ProjectSettings.json
basecode/calculadora_react-develop/.vs/slnx.sqlite
basecode/calculadora_react-develop/.vs/VSWorkspaceState.json
basecode/calculadora_react-develop/.vs/calculadora_react/FileContentIndex/7476e9dd-2ee4-4076-9059-be76247b43e0.vsidx
basecode/calculadora_react-develop/.vs/calculadora_react/FileContentIndex/read.lock
basecode/calculadora_react-develop/.vs/calculadora_react/v17/.wsuo
basecode/calculadora_react-develop/.vs/calculadora_react/v17/Browse.VC.db
basecode/calculadora_react-develop/__tests__/App.test.tsx
basecode/calculadora_react-develop/android/build.gradle
basecode/calculadora_react-develop/android/gradle.properties
basecode/calculadora_react-develop/android/gradlew
basecode/calculadora_react-develop/android/gradlew.bat
basecode/calculadora_react-develop/android/settings.gradle
basecode/calculadora_react-develop/android/app/build.gradle
basecode/calculadora_react-develop/android/app/debug.keystore
basecode/calculadora_react-develop/android/app/google-services.json
basecode/calculadora_react-develop/android/app/proguard-rules.pro
basecode/calculadora_react-develop/android/app/release/output-metadata.json
basecode/calculadora_react-develop/android/app/src/debug/AndroidManifest.xml
basecode/calculadora_react-develop/android/app/src/main/AndroidManifest.xml
basecode/calculadora_react-develop/android/app/src/main/play_store_512.png
basecode/calculadora_react-develop/android/app/src/main/java/com/elmec/MainActivity.kt
basecode/calculadora_react-develop/android/app/src/main/java/com/elmec/MainApplication.kt
basecode/calculadora_react-develop/android/app/src/main/res/drawable/rn_edit_text_material.xml
basecode/calculadora_react-develop/android/app/src/main/res/drawable/rounded_modal_background.xml
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_round_adaptive_back.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_round_adaptive_fore.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_round_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_round_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_round_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_round_adaptive_back.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_round_adaptive_fore.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_round_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_round_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_round_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round_adaptive_back.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round_adaptive_fore.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round_adaptive_back.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round_adaptive_fore.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round_adaptive_back.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round_adaptive_fore.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round_background.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round_foreground.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round_monochrome.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
basecode/calculadora_react-develop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
basecode/calculadora_react-develop/android/app/src/main/res/values/strings.xml
basecode/calculadora_react-develop/android/app/src/main/res/values/styles.xml
basecode/calculadora_react-develop/android/app/src/main/res/xml/network_security_config.xml
basecode/calculadora_react-develop/android/gradle/wrapper/gradle-wrapper.jar
basecode/calculadora_react-develop/android/gradle/wrapper/gradle-wrapper.properties
basecode/calculadora_react-develop/ios/.xcode.env
basecode/calculadora_react-develop/ios/elmec_icon.png
basecode/calculadora_react-develop/ios/GoogleService-Info.plist
basecode/calculadora_react-develop/ios/Podfile
basecode/calculadora_react-develop/ios/Podfile.lock
basecode/calculadora_react-develop/ios/Elmec/AppDelegate.h
basecode/calculadora_react-develop/ios/Elmec/AppDelegate.mm
basecode/calculadora_react-develop/ios/Elmec/Elmec.entitlements
basecode/calculadora_react-develop/ios/Elmec/Info.plist
basecode/calculadora_react-develop/ios/Elmec/LaunchScreen.storyboard
basecode/calculadora_react-develop/ios/Elmec/main.m
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/Contents.json
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/Contents.json
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_20@2x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_20@3x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_29@2x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_29@3x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_40@2x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_40@3x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_60@2x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_60@3x_opaque.png
basecode/calculadora_react-develop/ios/Elmec/Images.xcassets/AppIcon.appiconset/icon_1024@1x_opaque.png
basecode/calculadora_react-develop/ios/Elmec.xcodeproj/project.pbxproj
basecode/calculadora_react-develop/ios/Elmec.xcodeproj/xcshareddata/xcschemes/Elmec.xcscheme
basecode/calculadora_react-develop/ios/Elmec.xcworkspace/contents.xcworkspacedata
basecode/calculadora_react-develop/ios/Elmec.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
basecode/calculadora_react-develop/ios/ElmecNotificationService/Info.plist
basecode/calculadora_react-develop/ios/ElmecNotificationService/NotificationService.swift
basecode/calculadora_react-develop/ios/ElmecTests/ElmecTests.m
basecode/calculadora_react-develop/ios/ElmecTests/Info.plist
basecode/calculadora_react-develop/src/App.tsx
basecode/calculadora_react-develop/src/RootNavigation.ts
basecode/calculadora_react-develop/src/api/apiService.ts
basecode/calculadora_react-develop/src/api/NotificationHandler.ts
basecode/calculadora_react-develop/src/assets/fonts/Century Gothic.ttf
basecode/calculadora_react-develop/src/assets/fonts/Titillium Web.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-Black.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-Bold.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-BoldItalic.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-ExtraLight.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-ExtraLightItalic.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-Italic.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-Light.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-LightItalic.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-Regular.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-SemiBold.ttf
basecode/calculadora_react-develop/src/assets/fonts/TitilliumWeb-SemiBoldItalic.ttf
basecode/calculadora_react-develop/src/assets/img/add_box.png
basecode/calculadora_react-develop/src/assets/img/add_user.png
basecode/calculadora_react-develop/src/assets/img/add.png
basecode/calculadora_react-develop/src/assets/img/addmessage.png
basecode/calculadora_react-develop/src/assets/img/agentemfr.png
basecode/calculadora_react-develop/src/assets/img/back_arrow.png
basecode/calculadora_react-develop/src/assets/img/background.png
basecode/calculadora_react-develop/src/assets/img/barrenado_w.png
basecode/calculadora_react-develop/src/assets/img/barrenado.png
basecode/calculadora_react-develop/src/assets/img/calculator_icon_f.png
basecode/calculadora_react-develop/src/assets/img/calculator_icon_f2.png
basecode/calculadora_react-develop/src/assets/img/calculator.png
basecode/calculadora_react-develop/src/assets/img/camera.png
basecode/calculadora_react-develop/src/assets/img/camion.png
basecode/calculadora_react-develop/src/assets/img/camionmfr.png
basecode/calculadora_react-develop/src/assets/img/camionok.png
basecode/calculadora_react-develop/src/assets/img/campana.png
basecode/calculadora_react-develop/src/assets/img/cerrar.png
basecode/calculadora_react-develop/src/assets/img/check.png
basecode/calculadora_react-develop/src/assets/img/clientemfr.png
basecode/calculadora_react-develop/src/assets/img/configuracion_header.png
basecode/calculadora_react-develop/src/assets/img/configuracion_w.png
basecode/calculadora_react-develop/src/assets/img/configuracion.png
basecode/calculadora_react-develop/src/assets/img/configuration_icon.png
basecode/calculadora_react-develop/src/assets/img/directory.png
basecode/calculadora_react-develop/src/assets/img/drilling_icon.png
basecode/calculadora_react-develop/src/assets/img/elmec_icon.png
basecode/calculadora_react-develop/src/assets/img/enviar.png
basecode/calculadora_react-develop/src/assets/img/expand_more.png
basecode/calculadora_react-develop/src/assets/img/eye_hidden.png
basecode/calculadora_react-develop/src/assets/img/eye_visible.png
basecode/calculadora_react-develop/src/assets/img/file.png
basecode/calculadora_react-develop/src/assets/img/flag.png
basecode/calculadora_react-develop/src/assets/img/fotoperfil.png
basecode/calculadora_react-develop/src/assets/img/fresado_w.png
basecode/calculadora_react-develop/src/assets/img/fresado.png
basecode/calculadora_react-develop/src/assets/img/go_arrow.png
basecode/calculadora_react-develop/src/assets/img/go.png
basecode/calculadora_react-develop/src/assets/img/icall.png
basecode/calculadora_react-develop/src/assets/img/icphone.png
basecode/calculadora_react-develop/src/assets/img/icrequest.png
basecode/calculadora_react-develop/src/assets/img/idioma_w.png
basecode/calculadora_react-develop/src/assets/img/idioma.png
basecode/calculadora_react-develop/src/assets/img/isotipo.jpeg
basecode/calculadora_react-develop/src/assets/img/item.png
basecode/calculadora_react-develop/src/assets/img/logo_white.png
basecode/calculadora_react-develop/src/assets/img/logo.png
basecode/calculadora_react-develop/src/assets/img/logoelmec.png
basecode/calculadora_react-develop/src/assets/img/logout.png
basecode/calculadora_react-develop/src/assets/img/medicion_w.png
basecode/calculadora_react-develop/src/assets/img/medicion.png
basecode/calculadora_react-develop/src/assets/img/milling_icon.png
basecode/calculadora_react-develop/src/assets/img/panel_round_96px_light.png
basecode/calculadora_react-develop/src/assets/img/rastreo.png
basecode/calculadora_react-develop/src/assets/img/requests.png
basecode/calculadora_react-develop/src/assets/img/settings.png
basecode/calculadora_react-develop/src/assets/img/share.png
basecode/calculadora_react-develop/src/assets/img/soporte.png
basecode/calculadora_react-develop/src/assets/img/status.png
basecode/calculadora_react-develop/src/assets/img/Stickers.png
basecode/calculadora_react-develop/src/assets/img/trequest.png
basecode/calculadora_react-develop/src/assets/img/ventas.png
basecode/calculadora_react-develop/src/components/AgentSelectionModal.tsx
basecode/calculadora_react-develop/src/components/AlertConfirmModal.tsx
basecode/calculadora_react-develop/src/components/AlertUploadChoicesModal.tsx
basecode/calculadora_react-develop/src/components/api.ts
basecode/calculadora_react-develop/src/components/ChangeProfilePictureModal.tsx
basecode/calculadora_react-develop/src/components/ChatScreenModal.tsx
basecode/calculadora_react-develop/src/components/ContactItem.tsx
basecode/calculadora_react-develop/src/components/CustomModal.tsx
basecode/calculadora_react-develop/src/components/CustomPicker.tsx
basecode/calculadora_react-develop/src/components/FilterPicker.tsx
basecode/calculadora_react-develop/src/components/FilterState.tsx
basecode/calculadora_react-develop/src/components/HeaderComponent.tsx
basecode/calculadora_react-develop/src/components/ImageZoomModal.tsx
basecode/calculadora_react-develop/src/components/ListChatsPicker.tsx
basecode/calculadora_react-develop/src/components/MessageItem.tsx
basecode/calculadora_react-develop/src/components/Splash.tsx
basecode/calculadora_react-develop/src/constants/colores.js
basecode/calculadora_react-develop/src/constants/commons.js
basecode/calculadora_react-develop/src/constants/index.js
basecode/calculadora_react-develop/src/constants/medidas.js
basecode/calculadora_react-develop/src/constants/styles.js
basecode/calculadora_react-develop/src/constants/svg.js
basecode/calculadora_react-develop/src/constants/types.ts
basecode/calculadora_react-develop/src/constants/translations/IMLocalize.js
basecode/calculadora_react-develop/src/constants/translations/en/barrenado.js
basecode/calculadora_react-develop/src/constants/translations/en/chat.js
basecode/calculadora_react-develop/src/constants/translations/en/directory.js
basecode/calculadora_react-develop/src/constants/translations/en/fresado.js
basecode/calculadora_react-develop/src/constants/translations/en/home.js
basecode/calculadora_react-develop/src/constants/translations/en/index.js
basecode/calculadora_react-develop/src/constants/translations/en/profile.js
basecode/calculadora_react-develop/src/constants/translations/en/requests.js
basecode/calculadora_react-develop/src/constants/translations/en/settings.js
basecode/calculadora_react-develop/src/constants/translations/es/barrenado.js
basecode/calculadora_react-develop/src/constants/translations/es/chat.js
basecode/calculadora_react-develop/src/constants/translations/es/directory.js
basecode/calculadora_react-develop/src/constants/translations/es/fresado.js
basecode/calculadora_react-develop/src/constants/translations/es/home.js
basecode/calculadora_react-develop/src/constants/translations/es/index.js
basecode/calculadora_react-develop/src/constants/translations/es/profile.js
basecode/calculadora_react-develop/src/constants/translations/es/requests.js
basecode/calculadora_react-develop/src/constants/translations/es/settings.js
basecode/calculadora_react-develop/src/constants/views/CalculadoraView.tsx
basecode/calculadora_react-develop/src/redux/store.ts
basecode/calculadora_react-develop/src/redux/reducers/authReducer.ts
basecode/calculadora_react-develop/src/redux/reducers/index.ts
basecode/calculadora_react-develop/src/screens/App2.tsx
basecode/calculadora_react-develop/src/screens/BarrenadoScreen.tsx
basecode/calculadora_react-develop/src/screens/CalculadoraScreen.tsx
basecode/calculadora_react-develop/src/screens/ChatScreen.tsx
basecode/calculadora_react-develop/src/screens/ChatScreen2.tsx
basecode/calculadora_react-develop/src/screens/DetailRequestsScreen.tsx
basecode/calculadora_react-develop/src/screens/DirectoryScreen.tsx
basecode/calculadora_react-develop/src/screens/FresadoScreen.tsx
basecode/calculadora_react-develop/src/screens/HomeScreen.tsx
basecode/calculadora_react-develop/src/screens/LogInScreen.tsx
basecode/calculadora_react-develop/src/screens/ProfileConfigScreen.tsx
basecode/calculadora_react-develop/src/screens/ProfileScreen.tsx
basecode/calculadora_react-develop/src/screens/RegisterNewAgentScreen.tsx
basecode/calculadora_react-develop/src/screens/RequestsScreen.tsx
basecode/calculadora_react-develop/src/screens/SettingsCalculadoraScreen.tsx
basecode/calculadora_react-develop/src/screens/SettingsScreen.tsx
basecode/calculadora_react-develop/src/screens/SignInScreen.tsx
basecode/calculadora_react-develop/src/screens/UpdateDataUserScreen.tsx
basecode/calculadora_react-develop/src/screens/UpdatePasswordScreen.tsx
